# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/

# Composer
vendor/
composer.lock
composer.phar

# Tests
tests/
phpunit.xml.dist
# Transifex
/.tx/

# Contao
.skip
